.subscription {
  color: var(--light-gray);
  width: clamp(20rem, 100%, 39.6875rem);
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-top: -0.25rem;
  box-shadow: 0.5rem 0.5rem 1rem hsla(217, 35%, 70%, 0.2);
}

.subscription > * {
  padding: 1.5rem 1.5rem 1.9375rem 1.5rem;
}

.subscription__header {
  background-color: hsl(0, 0%, 100%);
  color: var(--cyan);
}

.subscription__header-title {
  font-size: 1.28125rem;
  font-weight: 700;
  letter-spacing: -0.03125rem;
  margin-bottom: 1.3125rem;
}

.subscription__guarantee {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--bright-yellow);
  letter-spacing: -0.0104166666666667rem;
  line-height: 1.267;
  margin-bottom: 1.125rem;
}

.subscription__header-description {
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: -0.0085227272727273rem;
}

.subscription__section-title {
  font-size: 1.125rem;
  letter-spacing: -0.0125rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.5625rem;
}

.subscription__call-to-action {
  background-color: var(--cyan);
  letter-spacing: -0.0096153846153846rem;
  padding-top: 1.375rem;
  padding-bottom: 1.5rem;
}

.subscription__price {
  color: hsl(179, 61%, 64%);
  letter-spacing: -0.0069444444444444rem;
  display: flex;
  align-items: center;
  margin-bottom: -0.0625rem;
}

.subscription__price-amount {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.0208333333333333rem;
  color: hsl(0, 0%, 100%);
  margin-right: 0.75rem;
}

.subscription__description {
  margin-bottom: 1.6875rem;
}

.subscription__sign-up-button {
  font: inherit;
  font-weight: 700;
  letter-spacing: -0.0089285714285714rem;
  color: hsl(0, 0%, 100%);
  display: block;
  width: 100%;
  border: none;
  background-color: var(--bright-yellow);
  height: 3rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  box-shadow: 0 0 0.375rem hsla(217, 17%, 50%, 0.5);
}

.subscription__sign-up-button:hover,
.subscription__sign-up-button:focus {
  opacity: 0.9;
}

.subscription__benefits {
  background-color: rgb(74, 190, 189);
  padding-top: 1.375rem;
  padding-bottom: 1.5rem;
}

.subscription__benefits > .subscription__section-title {
  margin-bottom: 0.875rem;
}

.subscription__benefits > .subscription__benefits-list {
  font-size: 0.875rem;
  list-style-type: none;
}

.subscription__benefits-list-item {
  letter-spacing: -0.0064655172413793rem;
  margin-bottom: -0.0625rem;
}

@media (min-width: 560px) {
  .subscription {
    grid-template-columns: 1fr 1fr;
    border-radius: 0.5rem;
    margin-top: 0;
    margin-bottom: -0.0625rem;
    box-shadow: 0.5rem 0.5rem 2rem hsla(217, 35%, 70%, 0.2);
  }

  .subscription > * {
    padding: 2.25rem 2.5rem 2.5rem 2.5rem;
  }

  .subscription__header {
    grid-column: span 2;
  }

  .subscription__header-title {
    font-size: 1.5rem;
    letter-spacing: -0.0173611111111111rem;
    margin-bottom: 1.1875rem;
  }

  .subscription__guarantee {
    font-size: 1.125rem;
    letter-spacing: -0.0125rem;
    margin-bottom: 0.5625rem;
  }

  .subscription__header-description {
    font-size: 1rem;
    letter-spacing: -0.0101674641148325rem;
    line-height: 1.65;
  }

  .subscription__call-to-action,
  .subscription__benefits {
    padding-top: 2.34375rem;
    padding-bottom: 2.4375rem;
  }
}
